
.float {
    position: fixed;
    cursor: pointer;
    width: 40px;
    height: 40px;
    bottom: 5px;
    right: 5px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 13px;
}

.pulse {
    animation: pulse 1s 1s forwards;
}

@keyframes pulse {
    0% {
        background-color: #0C9;
    }

    25% {
        background-color: red;
    }

    50% {
        background-color: #0C9;
    }

    75% {
        background-color: red;
    }
}

.start-now, .start-now:after {
    animation-delay: 0;
}
